{% extends "layout.html" %}
{% block class_about %}active{% endblock %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen"/>

<style>
</style>

<title>About Chennai Geeks</title>
<div>
	<h3>About Chennai Geeks</h3>
<p>This community was started on June 2011 as a Facebook group, which since then has been the one of the best Geek communities in Chennai to discuss and share what people learn everyday on Technology. We conduct monthly meetups at different places in Chennai. The Chennai Geeks community has around 1500 members in the Facebook group.</p>

	<p> This site was built by <a href="http://madhuvishy.in">Madhu</a> and <a href="http://yeskarthik.in">Karthik</a>. Read how it was built on our <a href="http://chennaigeeks.in/blog/2012/12/chennai-geeks-website/">blog</a>.
</div>

{% endblock %}

