{% extends "layout.html" %}
{% block class_search %}active{% endblock %}

{% block body %}

<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jScrollPane.css') }}" media="screen"/>

<style>
	#results{padding-top:20px; padding-bottom:20px;}
	input{ height: 20px;}
	#lean_overlay { position: fixed; z-index:100; top: 0px; left: 0px; height:100%; width:100%; background: #000; display: none;}
	.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url("{{url_for('static',filename='images/modal_close.png')}}");
z-index: 2; cursor: pointer; border-radius: 5px;}
  
	.commentsModalWindow {display: none; overflow-y:auto; position: fixed; opacity: 1; z-index: 101; left: 50%; margin-left: -202px; top: 200px; width:500px; height: 600px;
background: whitesmoke; border-radius: 10px; margin: 20px; padding: 20px;}
</style>

<title>Search Chennai Geeks</title>
<div>

 <div class="row">
 <div class="span6">
  <form class="form-search">
  	<input type="text" id="searchterm" name="searchterm" class="input-xlarge search-query">
	<button type="submit" class="btn">Submit</button>
  </form>
 </div>
 <div class="span3 offset3">
   <div id="showoff"></div>
 </div>
 </div>
  <div class="page"></div>
  <div id="results"></div>
  <div class="page"></div>
</div>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery.paginate.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/doT.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/results_tmpl.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery.leanModal.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/comments.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery.mousewheel.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery.em.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/jScrollPane.js') }}"></script>




<script type="text/javascript">

	var current_page = 1;
	function getCurPage()
        {
              return current_page;
        }

	$(function() {

		$('.page').hide();
		$('.showoff').hide();
		function handleLinks(){
			$('.show_links').each(function(){
				$(this).click(function(e){
					e.preventDefault();
					var post_id = $(this).attr('postid');
					$.getJSON($SCRIPT_ROOT + '/api/links/'+post_id, {
                        		}, function(data){
                                		$('#links_'+post_id).html(links_tmpl(data));
                                	});
                                	$('#links_'+post_id).toggle();
				});
			});
		}
		function getResults()
		{
			$('.page').hide();
			$('.showoff').hide();
			$.getJSON($SCRIPT_ROOT + '/api/search', {
                                searchterm : $('#searchterm').val()
                        }, function(data){
				if(data.result.matches.length === 0)
				{
					$('#results').html("<p>No results found :(</p>");
					$('#page').hide();
				}
				else
				{
                                  	$('#results').html(results_tmpl(data));
                        			pageCount = Math.ceil(data.result.total/20);
					$('#showoff').html("<h4>"+data.result.total+" Result(s) in "+data.result.time+" seconds.</h4>");
					$('.page').show();
					paginateThis(pageCount);
					handleLinks();
					handleComments();
					$("a[rel*=leanModal]").leanModal({ top : 100, overlay : 0.4, closeButton: ".modal_close" });
				}
			});
		}
		function getPageResults()
		{
			$.getJSON($SCRIPT_ROOT + '/api/search/'+getCurPage(), {
                                searchterm : $('#searchterm').val()
                        }, function(data){
                                $('#results').html(results_tmpl(data));
				handleLinks();
				handleComments();
				$("a[rel*=leanModal]").leanModal({ top : 100, overlay : 0.4, closeButton: ".modal_close" });
                        });
		}
		function paginateThis(pageCount){
		 $(".page").paginate({
                                        count : pageCount,
                                        start : 1,
                                        display : 8,
                                        border : true,
                                        border_color : '#fff',
                                        text_color : '#fff',
                                        background_color : 'black',
                                        border_hover_color : '#ccc',
                                        text_hover_color : '#000',
                                        background_hover_color : '#fff',
                                        images : false,
                                        mouse : 'press',
                                        onChange: function(page){current_page = +page; getPageResults();}
                                });
		}
		$("form").submit(function(){
                        getResults();
			window.history.pushState("", $("#searchterm").val(), "/search?searchterm="+$("#searchterm").val());
       			return false;
	         });
		function getURLParameter(name) {
 		   return decodeURI(
		        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]);
		}
	        if(getURLParameter('searchterm') != 'null'){
			$('#searchterm').val(getURLParameter('searchterm'));
			$('form').submit();
		}
	});
</script>

{% endblock %}

