<html>
<head>

<style>
	#vis text:hover { opacity: .7 !important; }
	a.active { text-decoration: none; color: #000; font-weight: bold; cursor: text; }
	#vis text { cursor: pointer; }
</style>
<script src="{{url_for('static', filename='js/d3/d3.v2.min.js')}}"></script>
<script src="{{url_for('static', filename='js/d3/d3.layout.cloud.js')}}"></script>
<script src="{{url_for('static', filename='js/cloud.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/doT.min.js')}}"></script>
<script src="{{url_for('static', filename='js/results_tmpl.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}"/>


</head>

<body>


<div id="bookmarks">

</div>

<script type="text/javascript">

function getBookmarks(){
	$.getJSON("http://chennaigeeks.in/api/links/",function(data){
			$("#bookmarks").html(bookmarks_tmpl(data));
		});
}

$(function(){
	getBookmarks();
});

</script>

</body>
</html>
